*{
    padding: 0;
    margin: 0;
}

html, body, #home{
    height: 100vh;    
}

body {    
    font-size: 1rem;
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg, #ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica,Arial,sans-serif;
    color: #000;    
}

h1{
    font-weight: 600;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;    
}

.navbar-light .navbar-nav .nav-link:focus{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #1ed760;
}

.navbar-toggler:hover {
    border: none;
}

.navbar{
    min-height: 80px !important;
}

.navbar ul li{  
    margin: 0 17px;
}

nav.navbar-transparent{
    padding: 15px 0;
    background: rgba(0, 0, 0, .6);
}

.nav-item.divider{
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

.cover{
    text-align: center;
}

.btn-custom{
    color: #fff;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: all .4s;
    margin-top: 10px;
    padding: 10px 15px;

}

.btn-custom:active{
    border: none;
}

.btn-purple{
    background: #7c25f8;
}

.btn-purple:hover{
    background: #6207e3;
    color: #fff;
}

.btn-blue{
    border: 2px solid #fff;
}

.btn-blue:hover{
    background: #fff;
    color: #000;
}

.btn.focus, .btn:focus {
    outline: 0; 
    box-shadow: none; 
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 4rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    h1{
        font-size: 5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    h1{
        font-size: 6rem;
    }
}
