*{
    padding: 0;
    margin: 0;
}

html, body, #home{
    height: 100vh;  
    overflow-x: hidden;  
}

body {    
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg, #ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica,Arial,sans-serif;   

}

h1{
    font-weight: 900;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
    color: #fff;
}

h2{
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -0.05em;   
}

h3{
    font-size: 2em;
    letter-spacing: -0.04em;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;    
}
.navbar-light .navbar-toggler {    
    border: none;
}

.navbar-light .navbar-nav .nav-link:focus{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #1ed760;
}

.navbar-toggler:hover {
    border: none;
}

.navbar{
    min-height: 80px !important;
}

.navbar ul li{  
    margin: 0 17px;
}

nav.navbar-transparent{
    padding: 15px 0;
    background: rgba(0, 0, 0, .6);
}

.nav-item.divider{
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

.cover{
    text-align: center;
}

.btn-custom{
    color: #fff;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: all .4s;
    margin-top: 10px;
    padding: 10px 15px;

}

.btn-custom:active{
    border: none;
}

.btn-purple{
    background: #7c25f8;
}

.btn-purple:hover{
    background: #6207e3;
    color: #fff;
}

.btn-blue{
    border: 2px solid #fff;
}

.btn-white{
    border: 2px solid #fff;
}

.btn-white:hover{
    background: #fff;
    color: #000;
}

.btn-blue:hover{
    background: #fff;
    color: #000;
}

.btn.focus, .btn:focus {
    outline: 0; 
    box-shadow: none; 
}

.box{
    padding-top:20px;
    padding-bottom:20px;
}

#services{
    background: #fff;
}

#services h2, h3{
    color:#7c25f8;
}

.albums img{
    margin-top: 15px;
    margin-bottom: 15px;
}

#resources {
    color:#fff
}

#resources h2{
    color:#fff
}

#resources h3{
    color:#9bf0e1;
}

.rotate{   
    padding-left: 80px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

footer{
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;  
}

footer h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: #fff;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;
}

footer .col-md-2{  
    margin-top: 10px;  
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 3rem;
    }
    .btn-custom {
		margin: 10px 15px;
	}
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 4rem;
    }   

    footer .logo{
        display: none;
    }

   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    h1{
        font-size: 5rem;
    }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    h1{
        font-size: 6rem;
    }
}
